td, body, p, li, ul, h1, h2, h3, h4, h5, h6, a {
  COLOR: #000000;
  FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

td {
	FONT-SIZE: 10pt;
	FONT-WEIGHT: normal;
}

body {
	BACKGROUND: #ffffff;
	FONT-SIZE: 10pt;
	FONT-WEIGHT: normal;
	MARGIN: 0px;
	scrollbar-track-color : #EFEFEF;
	scrollbar-arrow-color : #21496b;
	scrollbar-darkshadow-color : #ffffff;
}

p {
	FONT-SIZE: 10pt;
	FONT-WEIGHT: normal;
}

ul {
  FONT-SIZE: 10pt;
  FONT-WEIGHT: normal;
}

h1 {
  FONT-SIZE: 13pt;
  FONT-WEIGHT: normal;
}

h1.index {
  FONT-SIZE: 13pt;
  FONT-WEIGHT: bold;
}

h1.enzyme {
  FONT-SIZE: 20pt;
  FONT-WEIGHT: bold;
  FONT-FAMILY: "Times New Roman";
}

h2 {
  FONT-SIZE: 12pt;
  FONT-WEIGHT: bold;
}

h3 {
  FONT-SIZE: 11pt;
  FONT-WEIGHT: normal;
}

h4, h5, h6 {
  FONT-SIZE: 10pt;
  FONT-WEIGHT: normal;
}

pre {
  FONT-FAMILY: Courier;
  FONT-SIZE: 10pt;
}

a.pre_anchor:link, a.pre_anchor:active, a.pre_anchor:hover {
  FONT-FAMILY: Courier;
  FONT-SIZE: 10pt;
  FONT-WEIGHT: normal;
  COLOR: blue ;
  TEXT-DECORATION: underline
}

a.pre_anchor:visited {
  FONT-FAMILY: Courier;
  FONT-SIZE: 10pt;
  FONT-WEIGHT: normal;
  COLOR: purple ;
  TEXT-DECORATION: underline
}

a:link, a:visited, a:active, a:hover {
	TEXT-DECORATION: underline;
}

a.white:link, a.white:visited, a.white:active, a.white:hover {
  color: #ffffff;
  font-size: 10pt;
  font-weight: bold;
	text-decoration: underline;
}

a.no_decoration:link {
  TEXT-DECORATION: none;
}
a.no_decoration:visited {
	TEXT-DECORATION: none;
}
a.no_decoration:active {
	TEXT-DECORATION: none;
}
a.no_decoration:hover {
	TEXT-DECORATION: underline;
}

a.no_line:link {
  TEXT-DECORATION: none;
}
a.no_line:visited {
	TEXT-DECORATION: none;
}
a.no_line:active {
	TEXT-DECORATION: none;
}
a.no_line:hover {
	TEXT-DECORATION: none;
}

a.xchars:before {
	content: "<x>";
}

a img {
	border: 0px;
	vertical-align: middle;
}

.xchars {
	font-size: 75%;
	vertical-align: top;
	background-color: #ddd;
	border: 1px outset;
	padding: 0px;
	text-decoration: none;
	cursor: pointer;
}

.search {
    background-color: #ccddee;
}

.tr0, .tr1 {
    opacity: 0.7;
}

.tr0 {
    background-color: #eefaff;
}

.tr1 {
    background-color: #ffffff;
}

.result_ec {
    width: 80px;
    float: left;
    text-align: right;
    margin-right: 15px;
}

.inactive {
    float: right;
    color: red;
}

.tablebody {
	BACKGROUND-COLOR: #ffefc6;
}

.tablehead {
	BACKGROUND-COLOR: #336666;
}

.tabletop {
	BACKGROUND-COLOR: #eeeeee;
}

.tableborder {
	BACKGROUND-COLOR: #eeeeee;
}

.tablegreen {
  BACKGROUND-COLOR: #ffefc6;
}

.white, .pagetitle, .whitetitle, .green {
	FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

.white {
	COLOR: #ffffff;
	FONT-SIZE: 9pt;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none;
}

.pagetitle {
  FONT-SIZE: 14pt;
  FONT-WEIGHT: bold;
  COLOR: #cc9966;
}

.whitetitle {
  FONT-WEIGHT: bold;
  FONT-SIZE: 14pt;
  TEXT-DECORATION: none;
  COLOR: #cc9966;
}

.green {
  FONT-WEIGHT: bold;
  FONT-SIZE: 11pt;
  TEXT-DECORATION: none;
  COLOR: #cc9966;
}

.darkgreybg {
  BACKGROUND-COLOR: #dddddd;
}

.lightgreybg {
  BACKGROUND-COLOR: #eeeeee;
}

.whitebg {
  BACKGROUND-COLOR: #ffffff;
}

.beigebg {
  BACKGROUND-COLOR: #ffefc6;
}

.small_grid {
  border-style:solid;
  border-left-width:1px;
  border-right-width:1px;
  border-top-width:1px;
  border-bottom-width:1px;
}

.datatable {
  border-width: 1px;
  border-style: solid;
  border-color: #89b1f4;
}

.content_table {
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
}

.hierarchy_table {
  border-width: 1px;
  border-style: solid;
  border-color: #89b1f4;
}

.content_table_with_menu {
  border-width: 1px;
  border-top-width:0px;
  border-style: solid;
  border-color: #cccccc;
  clear: both;
}

.logon_table {
  border-width: 1px;
  border-style: solid;
  border-color: #89b1f4;
  background-color: #c4d6f4;
}

.logon_font {
  color: #ffffff;
  font-size: 10pt;
  font-weight: bold;
}

.flat_file_font {
  color: #000000;
  font-size: 10pt;
  font-weight: bold;
  font-family: courier,monospaced;
}

.footer_font {
  color: #000000;
  font-size: 8pt;
}

.data_region_header_row {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #89b1f4;
  font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 11pt;
  font-weight: bold;
}

.data_region_header_row_small {
  border-collapse:collapse;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #cccccc;
  font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 8pt;
  font-weight: bold;
}

.data_region_header_row_small_blue {
  border-collapse:collapse;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #89b1f4;
  font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 8pt;
  font-weight: bold;
}

.data_region_header_cell {
  COLOR: #cc9966;
  FONT-SIZE: 11pt;
}

.data_region_value_row_light_color {
  BACKGROUND-COLOR: #eeeeee;
}

.data_region_value_row_dark_color {
  BACKGROUND-COLOR: #dddddd;
}

.data_region_value_cell {
  COLOR: #000000;
  FONT-SIZE: 10pt;
}

.data_region_name_cell {
  COLOR: #000000;
  FONT-SIZE: 10pt;
  FONT-WEIGHT: bold;
}

.link_label {
  COLOR: #000000;
  FONT-SIZE: 7pt;
  FONT-WEIGHT: normal;
}

.link_url {
  COLOR: #9e9c9c;
  FONT-SIZE: 9pt;
  font-style: italic;
}

a.link:link, a.link:visited, a.link:active, a.link:hover {
  color: #9e9c9c;
  font-size: 9pt;
  font-weight: normal;
	text-decoration: underline;
}

.additional_info_table {
  FONT-SIZE: 8pt;
}

.ec {
  COLOR: #000000;
  FONT-SIZE: 14pt;
  FONT-WEIGHT: bold;
}

.error {
  COLOR: #ff0000;
  FONT-SIZE: 8pt;
  FONT-WEIGHT: bold;
}

.logon_denied {
  COLOR: #ff0000;
  FONT-SIZE: 10pt;
  FONT-WEIGHT: bold;
}

.error_large {
  COLOR: #ff0000;
  WIDTH: 300px;
  FONT-SIZE:10pt;
  FONT-WEIGHT: bold;
}

.message {
  COLOR: #333df6;
  FONT-SIZE: 8pt;
  FONT-WEIGHT: bold;
}

.deleted_transferred {
  COLOR: #5c5c5c;
  FONT-STYLE: italic;
}

.deleted_transferred_ec {
  COLOR: #5c5c5c;
  FONT-WEIGHT: bold;
  FONT-STYLE: normal;
}

.main_button {
  FONT-WEIGHT: bold;
}

.editButton, .submitButton, .previewButton, .deleteButton {
    font-weight: bold;
    font-size: 12pt;
}

.editButton {
    color: #006600;
}

.submitButton {
    color: #aa0000;
    margin-left: 15px;
}

.previewButton {
    color: #0000aa;
}

.deleteButton {
    color: #ff0000;
}

.suggested {
  COLOR: #5c69ef;
}

.proposed {
  COLOR: #00aa06;
}

.preliminary {
    color: #00aaaa;
}

.inactive {
  COLOR: #ff0000;
  FONT-WEIGHT: bold;
}

.longLine {
	overflow: auto;
}

/* ------------------- REACTIONS --------------------- */

.rheaId:before {
	content: "[RHEA:";
}
.rheaId:after {
	content: "]";
}
/* ---------------- This block should be taken from a rhea-view stylesheet: */
.OB {
	color: #666;
}
.PE {
	color: #008;
}
.RE {
	color: #800;
}
.OK {
	color: #080;
}
/* ----------------------------------------------------------- end of block */
.OB, .RE {
	text-decoration: line-through;
}
.NO:after, .OB:after, .RE:after, .PE:after {
	background-color: #fe2;
	color: orange;
	border: 1px solid orange;
	font-weight: bold;
}
.NO:after {
	content: "NO STATUS (not publicly visible)";
}
.OB:after {
	content: "OBSOLETE (not publicly visible)";
}
.RE:after {
	content: "REJECTED (not publicly visible)";
}
.PE:after {
	content: "PENDING (not publicly visible)";
}

ul.info{
	border: 1px solid #8ce;
}
.info {
	background-color: #adf;
}
ul.warning {
	border: 1px solid #ed1;
}
.warning {
	background-color: #fe2;
}
