#foreach($enzyme in $enzymes)
ENTRY       $enzyme.ec
NAME        #translate($enzyme.commonName.name)
CLASS       #translate($enzyme.className)
            #translate($enzyme.subclassName)
            #translate($enzyme.subSubclassName)
#if($enzyme.systematicName)
SYSNAME     #translate($enzyme.systematicName.name)
#end
#if($enzyme.enzymaticReactions)
#set($intenzReactions = $enzyme.enzymaticReactions.getReactions($intenzView))
#foreach($reaction in $intenzReactions)
REACTION    #translate($reaction.textualRepresentation)
#if(!$reaction.abstract)
SUBSTRATE   #foreach($s in $reaction.leftSide)#translate($s.compound.name)#if($velocityHasNext)            #end#end
PRODUCT     #foreach($p in $reaction.rightSide)#translate($p.compound.name)#if($velocityHasNext)            #end#end
#end
#end
#end
///
#end
