@charset "utf-8";

/* OVERRIDES -------------------------------------------------------------- */

h2, h3, .pubauthors, .pubtitle, .pubjournal {
	background-color: transparent !important;
}
.pubName {
	font-style: italic !important;
}

.pubtitle {
	color: #000 !important;
}

.pubauthors, .pubtitle, .pubjournal {
	font-weight: normal !important;
	font-style: normal !important;
}

/* TOCs ------------------------------------------------------------------- */

.toc {
	width: 200px;
	float: right;
	margin: 1em;
}
.tocHeader {
	width: 163px !important;
}
.tocBody {
	width: 190px !important;
}

.tocBody ol {
	margin-left: 1em;
	padding-left: 1em;
	text-align: left;
}

.tocBody ul li , .tocBody ol li {
	margin-bottom: 0em;
}

.centered {
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
	text-align: center;
}

.externalLink:after,
a[target="_blank"]:after,
a[target="chebiFromIntEnz"]:after,
a[target="rheaFromIntEnz"]:after {
	content: url(images/external-link.png);
}

.text {
	COLOR: #000000;
	FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	FONT-SIZE: 10pt;
	FONT-WEIGHT: normal
}
.whitetext {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal
}


a.smallebiform:link { color: #ffffff; font-family: Arial, Helvetica,
sans-serif; font-size: 8pt; font-weight: normal; text-decoration: underline}
a.smallebiform:visited { color: #ffffff; font-family: Arial, Helvetica,
sans-serif; font-size: 8pt; font-weight: normal; text-decoration: underline}
a.smallebiform:active { color: #ffffff; font-family: Arial, Helvetica,
sans-serif; font-size: 8pt; font-weight: normal; text-decoration: underline}
a.smallebiform:hover { color: #cccccc; font-family: Arial, Helvetica,
sans-serif; font-size: 8pt; font-weight: normal; text-decoration: underline}
.smallebiform { color: #000000; font-family: Arial, Helvetica, sans-serif;
font-size: 8pt; font-weight: normal}

.small_bold { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #000000 ; text-decoration: none}



/*
ul {COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal}
*/
a.sib {
  FONT-FAMILY: Courier;
}

.pagetitle      {font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 14pt; font-weight: bold; color: #336666}
.heading        {font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 13pt; font-weight: bold; color: #336666}
.subheading     {font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #336666}
.bold {
	COLOR: #ffffff; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.largewhite {
	COLOR: #ffffff; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.offwhite {
	COLOR: #ffffff; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; TEXT-DECORATION: none
}


.navbarCurrent {
	color: #666;
}

A.menu:link {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
A.menu:visited {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
A.menu:active {
	COLOR: #ffffff; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
A.menu:hover {
	COLOR: #ffffff; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.noline:link {
	COLOR: #666666; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.noline:visited {
	COLOR: #666666; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.noline:active {
	COLOR: #666666; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.noline:hover {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.large:link {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.large:visited {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.large:active {
	COLOR: #444444; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.large:hover {
	COLOR: #444444; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.largeover {
	COLOR: #666666; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.medium:link {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.medium:visited {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.medium:active {
	COLOR: #ffffff; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.medium:hover {
	COLOR: #ffffff; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
A.header:link {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 12pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.header:visited {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 12pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.header:active {
	COLOR: #666666; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 12pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.header:hover {
	COLOR: #666666; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 12pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.tablink {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.tablink:link {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.tablink:visited {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.tablink:active {
	COLOR: #ffffff; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
A.tablink:hover {
	COLOR: #ffffff; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
A.small:link {
	COLOR: #ffffff; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
A.small:visited {
	COLOR: #ffffff; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
A.small:active {
	COLOR: #ffffff; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
A.small:hover {
	COLOR: #cccccc; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
.small {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal
}
.smallwhite {
	COLOR: #ffffff; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal
}
.vsmall {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 1pt; FONT-WEIGHT: normal
}
A.over:link {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.over:visited {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.over:active {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.over:hover {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}

A.small2:link {	COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: underline}
A.small2:visited {COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: underline}
A.small2:active {COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: underline}
A.small2:hover {COLOR: #cccccc; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: underline}
.small2 {COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal}

A.overmedium:link {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.overmedium:visited {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 8ptx; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.overmedium:active {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.overmedium:hover {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}

A.white:link {
	COLOR: #ffffff; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.white:visited {
	COLOR: #ffffff; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.white:active {
	COLOR: #ffffff; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.white:hover {
	COLOR: #cccccc; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.white {
	COLOR: #ffffff; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.pbold {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold
}
.psmall {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: normal
}
.psmallbold {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.psmaller {
	COLOR: #0000ff; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 7pt; FONT-WEIGHT: normal
}
.plarger {
	COLOR: #336666; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.plarge {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}

.tablehead {
	BACKGROUND-COLOR: #336666
}
.tabletop {
	BACKGROUND-COLOR: #eeeeee
}
.tableborder {
	BACKGROUND-COLOR: #eeeeee
}
.helpbody {
	BACKGROUND-COLOR: #eeeeee
}
.helphead {
	BACKGROUND-COLOR: #cccccc
}
.whitetitle     {font-weight: normal; font-size: 14pt; font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; text-decoration:none; color: #ffffff}
.green{font-weight: normal; font-size: 9pt; font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; text-decoration:none; color: #336666}
.plargerbold {  font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 11pt; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #000000; text-decoration: none}
.plargebold {  font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #000000; text-decoration: none}
.wt_enzyme {font-weight: normal; font-size: 11pt; font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; text-decoration:none; color: #ffffff}

.greenboldsmall { font-weight: bold; font-size: 9pt; font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; text-decoration:none; color: #336666 }
.tablegreen  {
	background-color: #336666;
	padding: 0.3em 0.7em !important;
}
.pt_enzyme {
	font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	color: #336666;
}
.pt_enzyme_black      {font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 11pt; color: #000000}
.greenboldheader {font-weight: bold; font-size: 10pt; font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; color: #336666}

.inactiveEntry { color: #888; }
.inactiveEntry:before { content: "(" }
.inactiveEntry:after { content: ")" }

.entryNav {
	font-size: 75%;
	font-style: italic;
	float: right !important;
	clear: none !important;
}

h2.spotlight {
	margin-top: 0em !important;
}


/* ENZYME CLASSIFICATION ------------------------------------ */

#cf td {
	padding: 0em 1em;
}
#cf td.tablebody{
	padding: 0.3em 0.2em !important;
}
#cf div {
	margin: 1em !important;
}

/* STATISTICS TABLE ----------------------------------------- */

.relHistory {
	margin-left: 3em;
}

.stats_table {
	margin: 1em 1em 0em 3em;
}
.stats_col1 {background-color: #336666; font-weight: normal; font-size: 9pt; color: #ffffff}
.stats_col2 {background-color: #ffffff; font-weight: bold; font-size: 9pt; color: #336666}
.stats_caption {
	background-color: #ffffff;
	font-weight: bold;
	font-size: smaller;
	color: #000000;
}
.relTr {
	border-top: thin solid #336666;
}

.greyLabel{
	background-color: #cccccc;
	font-weight: normal;
	font-size: 9pt;
	font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	text-decoration:none;
	color: #336666;
	padding: 4px;
	float: right;
}

/* TABS : ----------------------------------------------------------- */

.viewTab {
	border-width: 2px 2px 0px 2px;
	border-style: solid;
	border-color: #888;
	padding: 3px 3em;
	font-family: sans-serif;
	text-decoration: none;
	margin: 2px 0.3em 0px 0.3em;
}
.selected {
	border-color: #8b8;
	background-color: #fff;
	border-width: 2px;
	border-bottom-color: #fff;
	border-bottom-style: solid;
	font-weight: bold;
	position: relative;
	top: -1px;
}
.unselected {
	background-color: #eee;
	border-width: 1px;
	border-bottom-color: #ccc;
	border-bottom-style: solid;
	padding-bottom: 2px;
	font-weight: normal;
}
.viewsTabBar {
	background-color: #fff;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-color: #ddd;
	border-bottom-style: solid;
	margin-top: 0em;
	margin-bottom: 1em;
	padding-top: 1em;
	padding-bottom: 2px;
}

/* XML : ----------------------------------------------------------- */

div.xml {
	margin-right: 20px;
    text-align: right;
    float: right;
}
span.xml {
	background-color: #fa0;
	color: #fff;
	font-family: sans-serif;
	font-weight: bold;
	padding: 1px 10px;
	border-style: outset;
	border-color: #fa0;
	border-width: 1px;
}
a.xml {
	text-decoration: none !important;
}

/* IUBMB VIEW : ----------------------------------------------------------- */

.iubmb {
	margin: 1em;
}
.iubmbHistory {
	font-size: smaller;
	margin-top: 1em;
	text-align: center;
}

/* SEARCH ----------------------------------------------------------------- */

/*
.searchbar {
	border-style: dotted;
	border-width: 1px;
	border-color: #888 !important;
}
*/
td.searchbar b {
	margin-left: 2em;
	margin-right: 2em;
}
.queryEc {
	font-weight: bold;
	background-color: #edf6f5;
}

/* FEEDBACK ------------------------------------------------------------------ */
table.mailForm th {
	text-align: right;
	vertical-align: top;
}

table.mailform td input, table.mailform textarea {
	font-family: sans;
	width: 30em;
}

/* RHEA-CTIONS ---------------------------------------------------------- */
.participant-coef-P:before {
	content: "(";
}
.participant-coef-P:after {
	content: ")";
}
.preliminary:after {
	content: 'PRELIMINARY';
	font-size: xx-small;
	text-align: center;
	vertical-align: super;
	padding: 0.5ex 0.5em;
	margin-left: 0.3em;
	color: #e80;
	border: #aaa dotted thin;
	background-color: #ffa;
}

/* COMMON SETTINGS: ------------------------------------------------- */

.error {
	font-weight: bold;
	color: red;
}

.relTr, div.spotlight, .spotlight .pt_enzyme, .searchBar, .navbarCurrent {
	background-color: #edf6f5 !important;
}


/*
h1 {COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 13pt; FONT-WEIGHT:   bold}
h2 {COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 12pt; FONT-WEIGHT:   bold}
h3 {COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: normal}
h4 {COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal}
h5 {COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal}
h6 {COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal}
*/

A.green:link {
	COLOR: #336666; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.green:visited {
	COLOR: #336666; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.green:active {
	COLOR: #336666; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.green:hover {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.black:link {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.black:visited {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.black:active {
	COLOR: #000000; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.black:hover {
	COLOR: #336666; FONT-FAMILY: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
}








a.smallbold:link {  font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #336666; text-decoration: none}
a.smallbold:visited {  font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #336666; text-decoration: none}
a.smallbold:active {  font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #3366666; text-decoration: none}
a.smallbold:hover {  font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #000000; text-decoration: underline}


.smallboldstyle{  font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #336666; text-decoration: none}



li.greenlist {COLOR: #336666}
A.greenboldsmall_anchor:link { font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #336666 ; text-decoration: none}
A.greenboldsmall_anchor:visited { font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #336666 ; text-decoration: none}
A.greenboldsmall_anchor:active { font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #336666 ; text-decoration: none}
A.greenboldsmall_anchor:hover { font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #666666 ; text-decoration: underline}
.greenboldsmall_text { font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #336666 ; text-decoration: none}



A.pre_anchor:link    { font-family: Courier; font-size: 10pt; font-weight: normal; color: blue ; text-decoration: underline}
A.pre_anchor:visited { font-family: Courier; font-size: 10pt; font-weight: normal; color: purple ; text-decoration: underline}
A.pre_anchor:active  { font-family: Courier; font-size: 10pt; font-weight: normal; color: blue ; text-decoration: underline}
A.pre_anchor:hover   { font-family: Courier; font-size: 10pt; font-weight: normal; color: blue ; text-decoration: underline}
pre {font-family:courier; font-size: 10pt;}
.preformatted {font-family:courier; font-size: 10pt;}
.preformattedbold {font-family:courier;font-weight: bold; font-size: 10pt;}

A.caption:link {
	font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 11pt; font-weight: bold; color: #336666; TEXT-DECORATION: none
}
A.caption:visited {
	font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 11pt; font-weight: bold; color: #336666; TEXT-DECORATION: none
}
A.caption:active {
	font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 11pt; font-weight: bold; color: #336666; TEXT-DECORATION: none
}
A.caption:hover {
	font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 11pt; font-weight: bold; color: #336666; TEXT-DECORATION: none
}
/*
A.print:link {
	font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000; TEXT-DECORATION: none
}
A.print:visited {
	font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000; TEXT-DECORATION: none
}
A.print:active {
	font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000; TEXT-DECORATION: none
}
A.print:hover {
	font-family: "Arial Unicode MS", "Lucida Sans Unicode", Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000; TEXT-DECORATION: underline
}
*/